{{#if @member}}
<div class="pt-2 mt-1 m-0 w-100">
    <p class="mb-4">
        👋 Thanks for subscribing!
    </p>
</div>
{{else}}

<form data-members-form="signup" class="member-form">
    <div class="d-flex justify-content-between align-items-stretch">
        <input aria-label="Email Address" class="form-control form-control-lg d-flex flex-grow-1 mr-2"
            data-members-email type="email" placeholder="Type your email..." required="true" autocomplete="false" />
        <button class="btn btn-lg btn-secondary" type="submit">
            <span class="text">
                Subscribe
            </span>
            <span class="loading-text">Loading..</span>
        </button>
    </div>
    <div data-members-error class="small font-weight-bold pt-2">
        <!-- error message will appear here -->
    </div>
    <div data-members-success class="small font-weight-bold pt-2 message-success">
        ✔ Thanks for subscribing! Check your inbox to confirm your email 📧.
    </div>
</form>

{{/if}}