
{{#if @member}}

    <div>Hi member</div>

{{else}}

    <form data-members-form="signup" class="d-flex justify-content-between align-items-stretch mt-4">
        <input aria-label="Email Address" class="form-control form-control-lg d-flex flex-grow-1 mr-2" data-members-email type="email" placeholder="youremail@example.com" required="true" autocomplete="false" autofocus />
        <button class="btn btn-lg btn-secondary" type="submit">
            Subscribe
        </button>
    </form>

{{/if}}

