/* Variables
/* ---------------------------------------------------------- */

:root {
    --text-color: #343a40;
    --text-color-light: #f8f9fa;
    --background-color: #fff;
    --bs-primary: #ff623f;
    --bs-primary-text: #fff;
    --bs-secondary: #225560;
    --bs-secondary-text: #fff;
    --bs-light: #f3f5fb;
    --bs-font-sans-serif: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-serif: Georgia, serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

[data-theme="light"] {
    /*Text and backgrounds*/
    --background-color: #fff;
    --text-color: #121416d8;
    --text-color-light: #777676bb;
    --link-color: #333652;
    /*Mast head*/
    --bs-primary: #FAD02C;
    --bs-primary-text: #003049;
    /*Secondary highlight*/
    --bs-secondary: #333652;
    --bs-secondary-text: #fff;
    /*Alternative background*/
    --bs-light: #E9EAEC;
}